##the service: This part exposes the image to the external world
apiVersion: v1
kind: Service
metadata:
  name: weather-svc
  labels:
    app: weather-deployment
spec:
  type: NodePort
  selector:
    app: weather-deployment
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30009
